/* Reset default styles */
* {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.app-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.instructions {
  margin-bottom: 20px;
}

.instructions p {
  margin: 10px 0;
}

.story-input-div {
  margin: 40px 0;
  display: flex;
  align-items: stretch;
}

.start-button, .enter-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  cursor: pointer;
}

.start-button:hover, .enter-button:hover {
  background-color: #1e2fef;
  border: 1px solid #1e2fef;
}

.story-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  flex: 1;
}

.stories-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.stories-div {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 150px;
  overflow-y: auto;
}

.stories-div p {
  margin: 10px 0;
}
